<!DOCTYPE html>
<html>
  <%- include ../views/partials/_head.ejs %>
  <body>
    <%- include ../views/partials/_flashMessages.ejs %>
      <div class="container logo jumbotron">
        <h1 class="text-center login">Book Club</h1>
        <h2 class="text-center login">Please register or sign in</h2>
        <%- include ../views/partials/_loginRegisterModalBlock.ejs %>
      </div>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>

</html>